<% include partials/header %>


<div class='container'>
  <form action="/todos" method="POST">
    <div class="form-group">
      <label for="exampleInputEmail1">Enter Your Todo</label>
      <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name"
        autofocus name='title' required>
      <div class='row'>
        <div class='col-md-6'>
          <input type="time" class="form-control" id="appt" name="time" required>
        </div>
        <div class='col-md-6'>
          <input type="text" name='am' placeholder='AM/PM' required>
        </div>
      </div>
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-primary"> Save Todo </button>
    </div>
  </form>
</div>


<div class='container'>

  <% todos.forEach((todo) => { %>
  <div class='row'>
    <div class='col-md-6 mb-2 todo-title'>
      <div class='row'>
        <div class=' col-md-7'>
          <%= todo.title %>
        </div>
        <div class='col-md-4'>
          (<span class='time-alert'><%= todo.time  %>
            <%= todo.am %></span>)
        </div>
      </div>
      <!-- <%= todo._id %> -->
    </div>
    <div class='col-md-2 mb-2'>
      <a href="/todos/<%= todo._id %>/new" class='btn btn-outline-primary'> <i class="fas fa-edit"></i> </a>
    </div>
    <div class='col-md-2 mb-2'>
      <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
        <button class='btn btn-outline-danger'><i class="fas fa-trash-alt"></i></button>
      </form>
    </div>
  </div>
  <% }) %>

</div>


<% include partials/footer %>