<% include partials/header %>


<div class='container my-5'>
  <div class='row'>
    <div class='col-md-5'>
      <form action="/todos" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Enter Your Todo</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Name"
            autofocus name='title' required>
          <div class='row mt-3'>
            <div class='col-md-6'>
              <input type="time" class="form-control" id="appt" name="time" required>
            </div>
            <div class='col-md-6'>
              <input type="text" class="form-control"  name='am' placeholder='AM/PM' required>
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary"> Save Todo </button>
        </div>
      </form>
    </div>

    <div class='col-md-1'>

    </div>


    <div class='col-md-6 data-row'>

      <div class='row ' id='data-heading'>
        <div class='col-md-8'>
          <div class='row'>
            <div class=' col-md-8'>
             <h5 class=''> Todo </h5>
            </div>
            <div class='col-md-4'>
             <h5 class=''> Time </h5>
            </div>
          </div>
        </div>
        <div class='col-md-2 text-center' style='margin-top: 10px'>
          <h5 class=''>Edit </h5>
        </div>
        <div class='col-md-2 text-center' style='margin-top: 10px'>
            <h5 class=''>Delete </h5>
        </div>
      </div>

      <% todos.forEach((todo) => { %>
      <div class='row row-bg'>
        <div class='col-md-8 mb-2 todo-title'>
          <div class='row'>
            <div class=' col-md-8' id='todo-title-txt'>
             <p> <%= todo.title %> </p>
            </div>
            <div class='col-md-4'>
              (<span class='time-alert'><%= todo.time  %>
                <%= todo.am %></span>)
            </div>
          </div>
          <!-- <%= todo._id %> -->
        </div>
        <div class='col-md-2 mb-2 text-center'>
          <a href="/todos/<%= todo._id %>/new" class='btn btn-outline-primary'> <i class="fas fa-edit"></i> </a>
        </div>
        <div class='col-md-2 mb-2 text-center'>
          <form action="/todos/<%= todo._id %>?_method=DELETE" method="POST">
            <button class='btn btn-outline-danger'><i class="fas fa-trash-alt"></i></button>
          </form>
        </div>
      </div>
      <% }) %>
    </div>

  </div>
</div>


<div class='container'>



</div>


<% include partials/footer %>